#Snack6
.teachers{
    list-style:none; 
    background-color: gray;
}

.pm{
    list-style:none; 
    background-color: green;
}

#Snack7

.banner{
    width: 700px;
    height:350px;
}

.banner img {
    width: 100%;
    height: 100%;
}
